fullnameOverride: ""
nameOverride: ""
namespaceOverride: ""
image:
  pullSecrets: []

api:
  serviceAccount:
    create: false
    name: ""
    annotations: {}
    labels: {}
  image:
    repository: ghcr.io/etalab-ia/opengatellm/api
    tag: "0.3.6"
    pullPolicy: IfNotPresent

  replicas: 1
  revisionHistoryLimit: ""

  gunicornArgs: "--workers 4 --worker-connections 1000 --timeout 120 --keep-alive 75 --graceful-timeout 75 --log-config /home/opengatellm/logging/logging.conf"

  logging:
    level: "INFO"

  resources:
    limits:
      cpu: "200m"
      memory: "1Gi"
    requests:
      cpu: "100m"
      memory: "512Mi"

  # Additional API container arguments
  extraArgs: {}

  # -- The name of the PriorityClass for API pods
  priorityClassName: ""

  dnsConfig: {}
  nodeSelector: {}
  affinity: {}

  # -- topologySpreadConstraints
  topologySpreadConstraints: {}

  annotations: {}
  persistence:
    subPath:

  # -- API probes configuration
  probes:
    readiness:
      httpGet:
        path: /health
        port: http
      initialDelaySeconds: 20
      periodSeconds: 15
    liveness:
      httpGet:
        path: /health
        port: http
      initialDelaySeconds: 120
      periodSeconds: 30

  # -- The SecurityContext for API deployment
  securityContext: {}

  # -- The SecurityContext for API containers
  containerSecurityContext: {}

  # -- GracePeriod of API container
  terminationGracePeriodSeconds: 10

  tolerations: []
  initContainers: []
  extraContainers: []
  extraVolumes: []
  extraVolumeMounts: []
  env: []
  extraEnvFrom: []

  service:
    type: ClusterIP
    port: 8000

  # -- Base config file for opengatellm-core.
  # To modify, either copy and alter 'opengatellm-core.config' as a whole or use the 'opengatellm-core.structuredConfig' to add and modify certain YAML elements.
  config: |
    dependencies:
      postgres:
        url: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/api
      redis:
        url: redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}

    settings:
      log_level: INFO

    models:
      {{ toYaml .Values.api.models | nindent 8 }}

  # -- Additional structured values on top of the text based 'opengatellm-core.config'. Applied after the text based config is evaluated for templates. Enables adding and modifying YAML elements in the evaluated 'opengatellm-core.config'.
  #
  # The base configuration (postgres, redis, settings) is defined in 'config' above.
  # Use structuredConfig to override or add additional configuration when using this chart as a dependency.
  #
  # Example for parent chart adding Elasticsearch:
  #
  # api:
  #   structuredConfig:
  #     dependencies:
  #       elasticsearch:
  #         hosts: http://my-elasticsearch:9200
  #     settings:
  #       vector_store_model: "BAAI/bge-m3"

  structuredConfig: {}

  #
  # -- Models list to append to opengatellm-core.config
  #
  # Example:
  #
  #models:
  # - name: albert
  #   type: text-generation
  #   providers:
  #     - type: vllm
  #       model_name: "gemma3:1b"
  #       url: ${ALBERT_URL}
  #       key: ${ALBERT_KEY}
  models:
    - name: albert-testbed
      type: text-generation
      providers:
        - type: vllm
          model_name: "gemma3:1b"
          url: "http://albert-testbed.etalab.gouv.fr:8000"
          key: "changeme"

  #
  # -- Secret loaded into env variable
  #
  # Example:
  #
  # existingModelSecret: "my-model-secrets"
  #
  # You need to create secret before install/upgrade
  #
  # apiVersion: v1
  # kind: Secret
  # metadata:
  #   name: my-models-secrets
  # type: Opaque
  # stringData:
  #   ALBERT_URL: https://example.com/api
  #   ALBERT_KEY: changeme
  #
  existingModelSecret: ""

  #
  # -- Secret loaded into env variable
  #
  # Example:
  #
  # existingModelSecret: "my-settings-secrets"
  #
  # You need to create secret before install/upgrade
  #
  # apiVersion: v1
  # kind: Secret
  # metadata:
  #   name: my-settings-secrets
  # type: Opaque
  # stringData:
  #   MASTER_USERNAME: admin
  #   MASTER_KEY: admin
  #
  existingSettingSecret: ""

ingress:
  enabled: false
  ingressClassName: ""
  annotations: {}
  labels: {}
  hosts:
    - host: api.example.com
      paths:
        - path: /
          # -- pathType (e.g. ImplementationSpecific, Prefix, .. etc.) might also be required by some Ingress Controllers
          # pathType: Prefix
  tls:
    - secretName: api-example-com-tls
      hosts:
        - api.example.com

postgresql:
  enabled: true
  # Values from cnpg/cluster charts https://github.com/cloudnative-pg/charts/tree/main/charts/cluster
  fullnameOverride: "cluster-opengatellm-core"
  version:
    postgresql: "17"
  mode: standalone
  clusterName: "cluster-opengatellm-core"
  database: api
  pgBaseBackup:
    database: api
    source:
      database: "api"
  cluster:
    instances: 1
    storage:
      size: 1Gi
      storageClass: ""
    walStorage:
      size: 1Gi
      storageClass: ""
    resources:
      limits:
        cpu: 250m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 512Mi
    affinity:
      topologyKey: topology.kubernetes.io/zone
    logLevel: info
    primaryUpdateMethod: switchover
    primaryUpdateStrategy: unsupervised
    enableSuperuserAccess: true
    monitoring:
      enabled: false
      podMonitor:
        enabled: false
    initdb:
      database: api
      encoding: UTF8

  # -- Configuration secret for an external PostgreSQL
  #
  # existingPostgresSecret: "postgres-secret"
  #
  # You need to create secret before install/upgrade
  #
  # apiVersion: v1
  # kind: Secret
  # metadata:
  #   name: postgres-secret
  # type: Opaque
  # stringData:
  #   POSTGRES_USER: api
  #   POSTGRES_PASSWORD: changeme
  #   POSTGRES_HOST: localhost
  #   POSTGRES_PORT: 5432
  #
  existingPostgresSecret: ""

redis:
  enabled: true
  # Values from redis-ha chart https://github.com/DandyDeveloper/charts/tree/master/charts/redis-ha
  name: redis
  replicas: 1
  ## Redis image - Using Redis Stack to support JSON, Search, TimeSeries, and Bloom modules
  image:
    repository: "redis/redis-stack-server"
    tag: "7.4.0-v8"
  ## Prometheus redis-exporter sidecar
  exporter:
    enabled: false
    #image: ""
    #tag: ""
  persistentVolume:
    enabled: true
    size: 10Gi
  redis:
    # -- Redis convention for naming the cluster group: must match `^[\\w-\\.]+$` and can be templated
    masterGroupName: opengatellm-core
    # -- Any valid redis config options in this section will be applied to each server (see `redis-ha` chart)
    config:
      # Load Redis Stack modules
      loadmodule:
        - /opt/redis-stack/lib/redistimeseries.so
        - /opt/redis-stack/lib/rejson.so
        - /opt/redis-stack/lib/redisearch.so
        - /opt/redis-stack/lib/redisbloom.so
      # Enable AOF https://redis.io/topics/persistence#append-only-file
      appendonly: "yes"
      # -- Will save the DB if both the given number of seconds and the given number of write operations against the DB occurred. `""`  is disabled
      # Disable RDB persistence, AOF persistence already enabled.
      # @default -- `'""'`
      save: '""'
      # Standalone mode: don't wait for replicas to acknowledge writes
      min-replicas-to-write: 0

  # -- Configures redis-ha with AUTH
  auth: true
  redisPassword: "changeme"
  ## Use existing secret containing key `authKey` (ignores redisPassword)
  ## Can also store AWS S3 or SSH secrets in this secret
  ## Supports templates like "{{ .Release.Name }}-creds"
  # -- An existing secret containing a key defined by `authKey` that configures `requirepass` and `masterauth` in the conf
  # parameters (Requires `auth: enabled`, cannot be used in conjunction with `.Values.redisPassword`)
  existingSecret: ""
  # -- Defines the key holding the redis password in existing secret.
  authKey: REDIS_PASSWORD

  sentinel:
    auth: false
    password: ""
    # -- An existing secret containing a key defined by `sentinel.authKey` that configures `requirepass`
    # in the conf parameters (Requires `sentinel.auth: enabled`, cannot be used in conjunction with `.Values.sentinel.password`)
    # Supports templates like "{{ .Release.Name }}-sentinel-creds"
    existingSecret: ""
    ## Defines the key holding the sentinel password in existing secret.
    # -- The key holding the sentinel password in an existing secret.
    authKey: REDIS_PASSWORD

  # -- Whether the Redis server pods should be forced to run on separate nodes (disable for single-node clusters).
  hardAntiAffinity: false

  # -- Redis HA statefulset container-level security context
  # @default -- See [values.yaml]
  containerSecurityContext:
    readOnlyRootFilesystem: true

  # -- Configuration secret for an external Redis
  #
  # existingRedisSecret: "redis-secret"
  #
  # You need to create secret before install/upgrade
  #
  # apiVersion: v1
  # kind: Secret
  # metadata:
  #   name: redis-secret
  # type: Opaque
  # stringData:
  #   REDIS_HOST: redis.opengatellm-core.svc.cluster.local
  #   REDIS_PORT: 6379
  #   REDIS_PASSWORD: changeme
  #   REDIS_USER: api
  #
  existingRedisSecret: ""