{{- if .Values.opengatellm.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opengatellm-stack-api
  labels:
    {{- include "opengatellm-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  replicas: {{ .Values.opengatellm.replicas }}
  selector:
    matchLabels:
      app: opengatellm-stack-api
  template:
    metadata:
      labels:
        app: opengatellm-stack-api
    spec:
      {{- with .Values.opengatellm.nodeSelector }}
      nodeSelector:
        {{ . | toYaml }}
      {{- end }}
      containers:
      - name: api
        image: {{ .Values.opengatellm.image.repository }}:{{ .Values.opengatellm.image.tag }}
        imagePullPolicy: {{ .Values.opengatellm.image.pullPolicy }}
        command:
          - /bin/sh
          - -c
          - |
            python -m alembic -c api/alembic.ini upgrade head && \
            uvicorn api.main:app --host 0.0.0.0 --port {{ .Values.opengatellm.service.targetPort }}
        ports:
          - containerPort: {{ .Values.opengatellm.service.targetPort }}
        env:
          - name: CONFIG_FILE
            value: "/home/opengatellm/conf/config.yml"
        volumeMounts:
          - name: opengatellm-config-vol
            mountPath: /home/opengatellm/conf
            readOnly: true
        {{- if .Values.opengatellm.probes.readiness.enabled }}
        readinessProbe:
          httpGet:
            path: {{ .Values.opengatellm.probes.readiness.path }}
            port: {{ .Values.opengatellm.service.targetPort }}
          initialDelaySeconds: {{ .Values.opengatellm.probes.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.opengatellm.probes.readiness.periodSeconds }}
        {{- end }}
        {{- if .Values.opengatellm.probes.liveness.enabled }}
        livenessProbe:
          httpGet:
            path: {{ .Values.opengatellm.probes.liveness.path }}
            port: {{ .Values.opengatellm.service.targetPort }}
          initialDelaySeconds: {{ .Values.opengatellm.probes.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.opengatellm.probes.liveness.periodSeconds }}
        {{- end }}
      volumes:
      - name: opengatellm-config-vol
        configMap:
          name: opengatellm-stack-api-config
{{- end }}
