{{- if .Values.opengatellm.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opengatellm-stack-playground
  labels:
    {{- include "opengatellm-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: playground
spec:
  replicas: {{ .Values.streamlit.replicas }}
  selector:
    matchLabels:
      app: opengatellm-stack-playground
  template:
    metadata:
      labels:
        app: opengatellm-stack-playground
    spec:
      {{- with .Values.streamlit.nodeSelector }}
      nodeSelector:
        {{ . | toYaml }}
      {{- end }}
      containers:
      - name: streamlit
        image: {{ .Values.streamlit.image.repository }}:{{ .Values.streamlit.image.tag }}
        imagePullPolicy: {{ .Values.streamlit.image.pullPolicy }}
        env:
          - name: CONFIG_FILE
            value: "/home/opengatellm/conf/config.yml"
        ports:
          - containerPort: {{ .Values.streamlit.service.port }}
        volumeMounts:
          - name: streamlit-config-vol
            mountPath: /home/opengatellm/conf
            readOnly: true
        readinessProbe:
          httpGet:
            path: {{ .Values.streamlit.probes.readiness.path }}
            port: {{ .Values.streamlit.service.port }}
          initialDelaySeconds: {{ .Values.streamlit.probes.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.streamlit.probes.readiness.periodSeconds }}
        livenessProbe:
          httpGet:
            path: {{ .Values.streamlit.probes.liveness.path }}
            port: {{ .Values.streamlit.service.port }}
          initialDelaySeconds: {{ .Values.streamlit.probes.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.streamlit.probes.liveness.periodSeconds }}
      volumes:
        - name: streamlit-config-vol
          configMap:
            name: opengatellm-stack-playground-config
{{- end }}
