replicas: 2

resources:
  requests:
    cpu: null
    memory: "2Gi"
  limits:
    cpu: null
    memory: "2Gi"

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: [ALL]
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

sysctlInitContainer:
  enabled: false
