elasticsearch:
  enabled: false

opengatellm:
  postgresql:
    enabled: false
    clusterName: cnpg-cluster-albert-ppr

  opengatellm:
    structuredConfig:
      dependencies:
        elasticsearch:
          hosts: http://elasticsearch-master:9200

    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault

vllm-stack:
  routerSpec:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
  servingEngineSpec:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault

playground:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    runAsUser: 1100
    runAsGroup: 1100
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 512Mi
embeddings:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    runAsUser: 1100
    runAsGroup: 1100
