elasticsearch:
  enabled: false

opengatellm:
  postgresql:
    enabled: false
    clusterName: cnpg-cluster-albert-ppr

  opengatellm:
    structuredConfig:
      dependencies:
        elasticsearch:
          hosts: http://elasticsearch-master:9200

    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
      runAsUser: 1100
      runAsGroup: 1100

vllm-stack:
  routerSpec:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
  servingEngineSpec:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    strategy:
      type: Recreate

playground:
  image:
    repository: ghcr.io/ohemelaar-dinum/opengatellm
    tag: main
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    runAsUser: 1100
    runAsGroup: 1100
  resources:
    requests:
      memory: 1Gi
    limits:
      memory: 1Gi
embeddings:
  enabled: false
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    runAsUser: 1100
    runAsGroup: 1100
