apiVersion: v1
kind: ConfigMap
metadata:
  name: opengatellm-core-logging-config
  namespace: {{ default .Release.Namespace .Values.namespaceOverride }}
  labels:
    {{- include "opengatellm-core.labels" . | nindent 4 }}
data:
  logging.conf: |
    [loggers]
    keys=root, gunicorn.error, gunicorn.access

    [handlers]
    keys=console, access

    [formatters]
    keys=default, access

    [logger_root]
    level={{ .Values.api.logging.level | default "INFO" }}
    handlers=console

    [logger_gunicorn.error]
    level={{ .Values.api.logging.level | default "INFO" }}
    handlers=console
    propagate=0
    qualname=gunicorn.error

    [logger_gunicorn.access]
    level={{ .Values.api.logging.level | default "INFO" }}
    handlers=access
    propagate=0
    qualname=gunicorn.access

    [handler_console]
    class=StreamHandler
    level={{ .Values.api.logging.level | default "INFO" }}
    formatter=default
    args=(sys.stdout,)

    [handler_access]
    class=StreamHandler
    level={{ .Values.api.logging.level | default "INFO" }}
    formatter=access
    args=(sys.stdout,)

    [formatter_default]
    format=[%(asctime)s][%(process)d][%(levelname)s] %(message)s
    datefmt=%Y-%m-%d %H:%M:%S

    [formatter_access]
    format=[%(asctime)s][%(process)d][%(levelname)s] %(message)s
    datefmt=%Y-%m-%d %H:%M:%S
